%p{:style => "color: green"}= notice
- content_for :title, "Pdfs"
%h1 Pdfs
#pdfs
  - @pdfs.each do |pdf|
    = render pdf
    %p
      = link_to "Show this pdf", pdf
= link_to "New pdf", new_pdf_path
